/* style.css */
/* .sect-container {
    display: none;
} */

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

/* #Inicio {
    display: block;
} */

.sect-container {
    padding: 20px;
    border-radius: 5px; /* Opcional: para bordes redondeados */
}
.sect-container canvas {
    width: 100% !important;
    height: auto !important;
}