/* style.css */
.form-container {
    display: none;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

#Inicio {
    display: block;
}

.card {
    width: 70vh;
    height: 70vh;
}

.input-section {
    margin-bottom: 20px;
}

.input-data, .result-data {
    width: 100%;
    margin-top: 20px;
}

#inputTable, #tablaEstadistica {
    width: 100%;
}
